<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <title>Predictive Analysis</title>
</head>

<body>
  <div class="text-center m-2 col-lg-7 mx-auto border rounded">
    <h3><b>Car Price Prediction</b></h3>
  </div>

  <div class="container m-5 col-lg-7 mx-auto border rounded pt-4 bg-secondary">
    <form action="{{ url_for('predict')}}" method="post">

      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Year</label>
          <input id="first" name="Year" required="required" type="number " class="form-control" placeholder="Ex: 2015">
        </div>
        <div class="form-group col-md-6">
          <label>What is the Showroom Price?(In lakhs)</label>
          <input id="second" name="Present_Price" required="required" type="number " class="form-control"
            placeholder="Ex: 5">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label>How Many Kilometers Drived?</label>
          <input id="third" name="Kms_Driven" required="required" type="number " class="form-control"
            placeholder="Ex: 20000">
        </div>
        <div class="form-group col-md-6">
          <label>How much owners previously had the car?</label>
          <select id="fourth" name="Owner" required="required" class="form-control">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="3">3</option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-4">
          <label>What Is the Fuel type?</label>
          <select name="Fuel_Type_Petrol" id="fuel" required="required" class="form-control">
            <option value="Petrol">Petrol</option>
            <option value="Diesel">Diesel</option>
            <option value="Diesel">CNG</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label>Are you A Dealer or Individual</label>
          <select name="Seller_Type_Individual" id="resea" required="required" class="form-control">
            <option value="Dealer">Dealer</option>
            <option value="Individual">Individual</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label>Transmission type</label>
          <select name="Transmission_Mannual" id="research" required="required" class="form-control">
            <option value="Mannual">Manual Car</option>
            <option value="Automatic">Automatic Car</option>
          </select>
        </div>
      </div>

      <div class="text-center  m-4">
        <button type="submit" class="btn btn-sm btn-info">Predict the Selling Price</button>
      </div>
    </form>
  </div>
  <div class="text-center">
    <h3><b>{{ prediction_text }}</b></h3>
  </div>
</body>

</html>